{% extends "layout/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8" style="max-width: 600px;">
      <div class="card p-4">
        <h1 class="text-center mb-4">Hive Feed</h1>
        <form id="loginForm" autocomplete="off">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="username" placeholder="Hive username" autocomplete="username" />
            <button class="btn btn-primary" id="loginBtn" type="submit">
              Login &amp; Sign
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}